<!DOCTYPE html>
<html lang="en">
<head>
    <title>PyStore</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="js/main.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="antialiased bg-body text-body font-body">
    <div class="">

    <section class="relative pb-20">
        <nav class="flex justify-between items-center py-8 px-4 xl:px-10">
            <ul class="hidden lg:flex lg:ml-auto lg:mr-12 lg:items-center lg:w-auto lg:space-x-12">
                <li><a class="text-sm font-medium" href="#">Login</a></li>
            </ul>
            <div class="hidden lg:block">
                <a class="inline-block py-3 px-8 text-sm leading-normal font-medium bg-red-50 hover:bg-red-100 text-red-500 rounded transition duration-200" href="/register">Register</a>
            </div>
        </nav>
        <div class="relative container pt-12 px-4 mx-auto text-center">
            <span class="text-blue-400 font-semibold">Bootcamp Backend con Python</span>
            <h2 class="mt-8 mb-8 lg:mb-12 text-4xl lg:text-6xl font-semibold">Mi PyTienda en línea. 🐍</h2>
            <p class="max-w-3xl mx-auto mb-8 lg:mb-12 text-xl text-gray-500">
                Páginas web desarrollada con Flask, Peewee y Python.
            </p>
            <a class="inline-block w-full md:w-auto mb-2 md:mb-0 px-8 py-4 mr-4 text-sm font-medium leading-normal bg-red-400 hover:bg-red-300 text-white rounded transition duration-200" href="/register">
                Comienza ahora
            </a>
        </div>
    </section>
    </div>
</body>
</html>