<!DOCTYPE html>
<html lang="en">
<head>
    <title>PyStore</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="antialiased bg-body text-body font-body">
    <div class="">

        <section class="relative py-20">

            <div class="absolute top-0 left-0 lg:bottom-0 h-128 lg:h-auto w-full bg-gray-50"></div>
                <div class="relative container px-4 mx-auto">
                    <div class="flex flex-wrap items-center -mx-4">
                        <div class="w-full lg:w-1/2 px-4 mb-12 lg:mb-0">
                            <div class="max-w-lg">
                                <h2 class="mb-10 text-4xl font-semibold font-heading">PyStore</h2>
                                <p class="text-xl text-gray-500">Create a free account!</p>
                            </div>
                        </div>
                        <div class="w-full lg:w-1/2 px-4">
                            <div class="lg:max-w-md p-6 lg:px-10 lg:py-12 bg-white text-center border rounded-xl">
                                <form action="#" method="POST">
                                    <span class="inline-block mb-4 text-xs text-blue-400 font-semibold">
                                        <a href="/">Landing</a>
                                    </span>
                                    <h3 class="mb-12 text-3xl font-semibold font-heading">Create new account</h3>

                                    <div class="relative flex flex-wrap mb-6">
                                        <input class="relative mb-2 md:mb-0 w-full py-4 pl-4 text-sm border rounded" type="text" placeholder="e.g firstlastname" name="username">
                                        <span class="absolute top-0 left-0 ml-4 -mt-2 px-1 inline-block bg-white text-gray-500 text-xs">Your username</span>
                                    </div>
                                    <div class="relative flex flex-wrap mb-6">
                                        <input class="relative mb-2 md:mb-0 w-full py-4 pl-4 text-sm border rounded" type="password" placeholder="******" name="password">
                                        <span class="absolute top-0 left-0 ml-4 -mt-2 px-1 inline-block bg-white text-gray-500 text-xs">Password</span>
                                    </div>
                                    <button class="w-full inline-block py-4 text-sm text-white font-medium leading-normal bg-red-400 hover:bg-red-300 rounded transition duration-200">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>