<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="js/main.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="antialiased bg-body text-body font-body">
    <div class="">

       <section class="py-20">
            <div class="container px-4 mx-auto">
                <div class="flex flex-wrap -mx-4">
                    <div class="w-full lg:w-1/2 px-4 mb-12 lg:mb-0">
                        <div class="max-w-md">
                            <div class="max-w-3xl mb-20 mx-auto text-center">
                                <span class="text-xs text-blue-400 font-semibold"><a href="/products">List of Products</a></span>
                                <h2 class="mt-8 mb-10 text-4xl font-semibold font-heading">Edit Products</h2>
                            </div>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2 px-4">
                        <form action="#" method="POST">
                        <div class="relative flex flex-wrap mb-6">
                            <input class="relative mb-2 md:mb-0 w-full py-4 pl-4 text-sm border rounded" type="text" placeholder="Product" name='name' value="{{ product.name }}">
                            <span class="absolute top-0 left-0 ml-4 -mt-2 px-1 inline-block bg-white text-gray-500 text-xs">Name</span>
                        </div>
                        <div class="relative flex flex-wrap mb-6">
                            <input class="relative mb-2 md:mb-0 w-full py-4 pl-4 text-sm border rounded" type="text" name='price' value="{{ product.price }}">
                            <span class="absolute top-0 left-0 ml-4 -mt-2 px-1 inline-block bg-white text-gray-500 text-xs">Price</span>
                        </div>
                        <button class="w-full inline-block px-6 py-4 text-sm text-white bg-red-400 hover:bg-red-300 rounded transition duration-200">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>
</html>